.idea/workspace.xml
.idea/uiDesigner.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml
.gradle/2.2.1/taskArtifacts/cache.properties
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/outputFileStates.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
build/classes/main/org/dbp/util/arboles/core/NodoGenericoDTO.class
build/classes/test/org/dbp/util/arboles/core/NodoGenericoDTO.class
build/classes/test/org/dbp/util/arboles/core/PruebasJavaFxTest.class
build/tmp/test/jar_extract_4595072206718608840_tmp
/build/
/bin/

.classpath
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs