.idea/workspace.xml
.idea/uiDesigner.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml